PORT=3001
HOST=0.0.0.0
JWT_SECRET=change-this-secret

STORAGE_DRIVER=mysql
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=pokerclub
MYSQL_PASSWORD=change-this-db-password
MYSQL_DATABASE=pokerclub
UPLOAD_ROOT=/opt/pokerclub/uploads
PUBLIC_BASE_URL=http://47.103.113.60

# 微信小程序后台获取
WECHAT_APPID=wx60cc68ed0550e14a
WECHAT_SECRET=

# 开发者工具没有配置 secret 时可设为 true，生产必须 false
ALLOW_MOCK_WECHAT=true

# 微信支付 v3
WX_PAY_ENABLED=false
WX_PAY_APPID=wx60cc68ed0550e14a
WX_PAY_MCH_ID=
WX_PAY_SERIAL_NO=
WX_PAY_API_V3_KEY=
WX_PAY_PRIVATE_KEY_PATH=/opt/pokerclub/certs/apiclient_key.pem
WX_PAY_NOTIFY_URL=http://47.103.113.60/api/wechat/pay/notify
WX_PAY_PLATFORM_CERT_PATH=
WX_PAY_REQUIRE_NOTIFY_VERIFY=false

# 商家端账号
MERCHANT_USERNAME=change-this-merchant-user
MERCHANT_PASSWORD=change-this-merchant-password
MERCHANT_ADMIN_USERNAME=admin
MERCHANT_ADMIN_PASSWORD=change-this-admin-password
MERCHANT_JIANGNING_USERNAME=store_jiangning
MERCHANT_JIANGNING_PASSWORD=change-this-jiangning-password
MERCHANT_XINJIEKOU_USERNAME=store_xinjiekou
MERCHANT_XINJIEKOU_PASSWORD=change-this-xinjiekou-password
MERCHANT_QINHUAI_USERNAME=store_qinhuai
MERCHANT_QINHUAI_PASSWORD=change-this-qinhuai-password

# Xpyun cloud printer
XPYUN_USER=
XPYUN_USER_KEY=
XPYUN_DEBUG=0
XPYUN_PRINT_MODE=0
